/*
CSS selectors are used to "find" (or select) the HTML elements you want to style.

Simple selectors (select elements based on name, id, class)
Combinator selectors (select elements based on a specific relationship between them)
Pseudo-class selectors (select elements based on a certain state)
Pseudo-elements selectors (select and style a part of an element)
Attribute selectors (select elements based on an attribute or attribute value)

CSS Element Selector - Element selector selects HTML elements based on the element name.

CSS id Selector - The id selector uses the id attribute of an HTML element to select a specific element. The id of an element is unique within a page, so the id selector is used to select one unique element! To select an element with a specific id, write a hash (#) character, followed by the id of the element. An id name cannot start with a number!

CSS class Selector - The class selector selects HTML elements with a specific class attribute. To select elements with a specific class, write a period (.) character, followed by the class name. A class name cannot start with a number! TML elements can also refer to more than one class. We can also specify that only specific HTML elements should be affected by a class.

CSS Universal Selector - The universal selector (*) selects all HTML elements on the page.

CSS Grouping Selector - The grouping selector selects all the HTML elements with the same style definitions. It will be better to group the selectors, to minimize the code. To group selectors, separate each selector with a comma.
*/

p {
  text-align: center;
  color: red;
}

#para1 {
  text-align: right;
  color: blue;
}

.para2 {
  text-align: left;
  color: green;
}

p.center {
  text-align: center;
  color: yellow;
}

p.right {
  text-align: right;
  color: orange;
}
p.large {
  font-size: 150%;
}

* {
  margin: 0;
  padding: 0px;
}

/* span is an inline */
span {
  /* text-align: center */
  text-align: center;
  color: grey;
}

/*
If we are giving same properties then we can use Grouping selector for minimize the code
h4{
    text-align: center;
    color: brown;
}
h5{
    text-align: center;
    color: brown;
}
h6{
    text-align: center;
    color: brown;
}
*/

h4,
h5,
h6 {
  text-align: center;
  color: brown;
  /* margin-top: 30px;
    padding-top: 5px; */
}
